/* BOILERPLATE CODE */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* COLOR PALETTE */

:root {
  --color-50: #f0f9ff;
  --color-100: #e0f2fe;
  --color-200: #bae6fd;
  --color-300: #7dd3fc;
  --color-400: #38bdf8;
  --color-500: #0ea5e9;
  --color-600: #0284c7;
  --color-700: #0369a1;
  --color-800: #075985;
  --color-900: #0c4a6e;
  --background: #082f49;
}

/* FONTS */

/* LOGO */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@700&display=swap");
/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");

/* STYLING */

html {
  font-size: 10px;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 2rem auto;
  font-family: "Lato", monospace;
}

/* header */

.header {
  padding: 1rem 0.25rem;
  padding-bottom: 3rem;
  background-color: var(--color-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--color-50);
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.logo svg {
  color: var(--color-100);
  width: 3.5rem;
  fill: var(--color-500);
}

.logo h2 {
  color: var(--color-50);
  font-weight: 900;
  font-size: 2rem;
  font-family: "Lexend Peta", sans-serif;
}

.temperature-preference-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 1.7rem;
  color: var(--color-50);
}

.unit {
  font-weight: 500;
  cursor: pointer;
}

.unit-active {
  font-size: 1.9rem;
  font-weight: 900;
}

.input-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.input-form input {
  width: 60vw;
  background-color: rgb(139, 139, 139, 0.6);
  border: none;
  padding: 0.4rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-50);
  outline: none;
}

.input-form svg {
  width: 3rem;
  cursor: pointer;
  color: var(--color-50);
}

/* main */

.main {
  min-height: 75vh;
  background-color: var(--color-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.starting-options {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.starting-options img {
  width: 25rem;
}

.btn-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.btn {
  padding: 0.75rem 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--color-500);
  color: var(--color-50);
  border: none;
  font-size: 4vw;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--color-400);
  padding: 0.75rem 1.25rem;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.error-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-container h3 {
  font-size: 2rem;
  color: var(--color-50);
  text-align: center;
}

.error-container img {
  width: 25rem;
}

.loading {
  font-size: 2rem;
  text-align: center;
  color: var(--color-50);
}
